/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Sync tool
sync-tool/venv/
sync-tool/build/
sync-tool/dist/
sync-tool/*.spec
sync-tool/__pycache__/
sync-tool/config.json
sync-tool/schoolday_sync_tool.zip
